.general_info {
    display: flex;
    justify-content: flex-end;
}

.general_info>*{
    margin-right: 5%;
}

.general_info a {
    font-size: 22px;
    color: rgba(236, 236, 236, 0.788)
}

.question_icon {
    padding-right: 15px;
}

.doc_icon {
    padding-right: 5px;
}

.question_icon:hover {
    color: #e3e3e3;
}

.doc_icon:hover {
    color: #e3e3e3;
}
