.boards_content{
    width: 100%;
    height: 99vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 5%;
    background: rgba(56, 109, 216, 0.993);
    text-align: center;
}

#boards-label {
    width: 16%;
    height: 4%;
    margin: 1% 0% -1% 15%;
    border: 5px solid #396ed8;
    border-radius: 50px 200px 50px 0px;
    text-align: center;
}

.creating-board {
    width: 30%;
    height: 10%;
    margin: 1% 15% 1% 15%;
    padding-left: 2%;
    border: 5px solid #396ed8;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.own-boards {
    width: 70%;
    height: 34%;
    margin: 0% 15% 0% 15%;
    background-color: white;
    overflow-y: scroll;
    border: 5px solid #396ed8;
}

.collaboration-boards {
    width: 70%;
    height: 34%;
    margin: 0% 15% 0% 15%;
    background-color: white;
    overflow-y: scroll;
    border: 5px solid #396ed8;
}

#style-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #578fff;
}

#style-scroll::-webkit-scrollbar
{
    width: 6px;
    background-color: #0848ff;
}

#style-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #0848ff;
}